.top-container {
    background-color: #e3fdfd;
    position: relative;
    padding-top: 15%;
}

.middle-container {
    background-color: white;
    margin: 50px 0;
}

.bottom-container {
    background-color: #e3fdfd;
    padding: 50px 0 20px;
}

.footer-link {
    color: #71c9ce;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    text-decoration: none;
}

h2 {
    color: #71c9ce;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2rem;
}

h3 {
    color: #a6e3e9;
    font-family: 'Nunito', sans-serif;
}

hr {
    border: dotted #eeeeee 10px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud {
    position: absolute;
    width: 8%;
    top: 10%;
    right: 20%;
}

.bottom-cloud {
    position: absolute;
    width: 8%;
    bottom: 35%;
    left: 15%;
}

.moutain {
    width: 60%;
    height: 60%;
}

.title-intro {
    color: #71c9ce;
    font-family: 'Parisienne', cursive;
    font-size: 90pt;
    margin: 0 auto;
}

.title-description {
    color: #71c9ce;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20pt;
    margin: 0 auto;
}

.img-profile {
    border-radius: 50%;
    padding-top: 5%;
    width: 10%;
}

.description {
    width: 25%;
    margin: 0 auto;
}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 40%;
}

.img-skill1 {
    border-radius: 50%;
    float: left;
    margin-right: 20px; 
    width: 20%;
}

.img-skill2 {
    border-radius: 50%;
    float: right;
    margin-left: 20px;
    width: 20%;
}

.contact {
    margin: 100px auto;
    width: 30%;
}

.contact-message {
    margin: 30px auto 50px;
}

.btn {
    border-color: transparent;
	background-color:#71c9ce;
    text-indent: 0;
	display: inline-block;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
    height: 43px;
	line-height: 43px;
    width: 140px;
	text-decoration: none;
	text-align: center;
}

.btn:hover {
	background-color:#a6e3e9;
}
