.top-container {
    background-color: #e3fdfd;
    margin: 0;
    padding-top: 10%;
}

.middle-container {
    background-color: white;
    margin: 0;
}

.bottom-container {
    background-color: #e3fdfd;
    margin: 100px auto;
}

a {
    color: #71c9ce;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

h2, h3 {
    color: #71c9ce;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Cormorant Garamond', serif;
    font-size: 8;
    line-height: 1.5;
    margin: 0;
}

hr {
    border: dotted #eeeeee 10px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-cloud {
    position: absolute;
    width: 8%;
    top: 10%;
    right: 20%;
}

.bottom-cloud {
    position: absolute;
    width: 8%;
    bottom: 35%;
    left: 15%;
}

.moutain {
    width: 60%;
    height: 60%;
}

.title-intro {
    color: #71c9ce;
    font-family: 'Parisienne', cursive;
    font-size: 90pt;
    margin: 0 auto;
}

.title-description {
    color: #71c9ce;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20pt;
    margin: 0 auto;
}

.img-profile {
    width: 10%;
    padding-top: 5%;
}

.description {
    width: 25%;
    margin: 0 auto;
}

.skill-row {
    margin: 100px auto;
    text-align: left;
    width: 40%;
}

.img-skill1 {
    width: 20%;
    float: left;
    margin-right: 20px; 
}

.img-skill2 {
    width: 20%;
    float: right;
    margin-left: 20px;
}

.contact {
    margin: 0 auto;
    width: 30%;
}

.btn {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-color: white;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 20px;
    padding: 20px;
    background-color: #71C9CE;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
        
.btn:hover {
    background: #A6E3E9;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}